<% provide :title, t("pages.title.home") %>
<div>
  <div class="container">
    <h1><%= t "pages.mailer.welcome" %></h1>
    <p><%= t "pages.to_register" %></p>
    <p><%= t "pages.register" %>
    </p>
  </div>
</div>
