<% provide :title, t("edit_dish") %>
<% provide :button_text, t("update") %>

<h1><%= t "update_dish"%></h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render "form_dish", dish: @dish, categories: @categories %>
  </div>
</div>
