<% provide :title, t("add_category") %>
<% provide :button_text, t("create") %>

<h1><%= t "create_category"%></h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render "form_category", category: @category, dishes: @dishes %>
  </div>
</div>
